.next/
node_modules/
.g/
__pycache__/
.vercel/
mobile_table_viewer/.gradle-home/
mobile_table_viewer/.android-user/
mobile_table_viewer/.gradle/
mobile_table_viewer/android/.gradle/
out/
.vercel/
*.log
tsconfig.tsbuildinfo
.env
.env.local
.env.production.local
.env.development.local

.vercel
